<div class="container">
  
  <p class="label">Ask your coach anything</p>
  <form action="/answer">
    <input class="question" type="text" name="question">
    <input class="submit" type="submit" value="Ask">
  </form>
</div>
